.basket-component {
	height: 100vh;
	overflow: hidden;
}
.basket-card-container {
	background-color: $color-white;
	min-height: 35vh;
	width: 100%;
	max-width: $width-tablet;
	justify-content: space-around;
	@include border(1, $border-std);
	border-radius: $border-radius-std;
}
.basket-card-container {
	@include mobile() {
		height: 100vh;
		.basket-body {
			height: 75vh;
			justify-content: flex-start;	
			overflow-y: scroll;
		}
		.basket-foot {
			height: 20vh;
		}
	}
}
.basket-head, .basket-body, .basket-foot {
	@include padding(2em,2em);
}
.basket-body {
	@include border(top, $border-std);
	width: 100%;
}
.basket-foot {
	@include border(top, $border-std);
	width: 100%;
	background-color: $color-chalk;
	.box:first-child {
		flex: 1 1 auto;
		font-size: $font-size-xl;
	}
	@include mobile() {
		font-size: $font-size-s;
	}
}