.product-component {
	width: inherit;
	@include border(bottom, $border-product);
	.box {
		flex: .25;
		&:first-child {
			@include flex(row);
			justify-content: flex-start;
			min-width: 50%;
		}
		&:last-child, &:nth-last-child(-n+2) {
			text-align: right;
		}
		.el-price {
			color: $color-salmon;
		}
		&.block-quantity {
			padding: $spacing-small;
			@include mobile() {
				flex-direction: column-reverse;
				padding: $spacing-std;				
			}	
		}
	}	
	&:last-child {
		@include border(bottom, $border-none);
	}
}