.product-modal {
	@include fullscreen();
	background-color: $color-darkest;
	opacity: 0;
	transition: opacity .3s;
	transform: translateX(-100%);
	&.is-active {
		opacity: 1;
		transform: translateX(0%);
		.product-preview-card {
			transform: scale(1);
			opacity: 1;
		}
	}
}
.product-preview-card {
	transition: all .3s;
	background-color: $color-chalk;
	transform: scale(.25);
	opacity: 0;
	border-radius: $border-radius-std;
	box-shadow: 0 0 10em $color-darkest;
	.box {
		@include padding($spacing-std, $spacing-wide);
	}
	.box:first-child {
		@include padding($spacing-std, 0);
		width: 100%;
		text-align: right;
	}
	.el-emoji {
		font-size: 6em;
	}
}