@import 'variables/core';
@import 'variables/breakpoints';
* {
	box-sizing: border-box;
}
html, body {
 	font-family: sans-serif;
 	margin: 0;
 	padding: 0;
 	background-color: #eee;
 	color: #444;
    font-size: $font-size-base;
    @include tablet();
    @include mobile();
}