[class^="fa--"] {
	font-family: FontAwesome;
}
.fa--eye:before {
	content: '\f06e';
}
.fa--chevron:before {
	content: '\f054';
}
.fa--minus:before {
	content: '\f146';
}
.fa--plus:before {
	content: '\f0fe';
}
.fa--remove:before {
	content: '\f00d';
}
.fa--close:before {
	content: '\f00d';
}