@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
.layout {
	&--flex {
		@include flex(row);
	}
    &--flex-column {
        @include flex(column);
    }
}