@import 'variables/colours';
[class^="is-button"] {
	cursor: pointer;
	transition: all .3s;
	font-family: FontAwesome, sans-serif;
	@include padding();
}

.is-button {
	&--submit {
		color: $color-white;
		font-size: $font-size-m;
		background-color: $color-cornflower;
		display: inline-flex;
		align-items: center;
		border-radius: $border-radius-std;
		[class*="fa--"] {
			@include padding($spacing-small, $spacing-small);
			font-size: $font-size-s;
			margin-left: $spacing-small;
			transition: transform .3s;
		}
		&:hover {
			[class*="fa--"] {
				transform: translateX(.25em);
			}
		}
	}
	&--simple {
		color: $color-gray;
		transition: color .3s;
		&:hover {
			color: $color-darker;
		}
	}
}