$color-cornflower: #6495ed;
$color-salmon: #fa8072;
$color-grey: #ccc;
$color-gray: #666;
$color-white: #fff;
$color-dark: rgba(0,0,0,.125);
$color-darker: rgba(0,0,0,.25);
$color-hairline: rgba(0,0,0,.15);
$color-darkest: rgba(0,0,0,.75);
$color-chalk: #efefef;